@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  cursor: url('./Cursor/Cursor_1.svg'), default !important;
}

a,
span,
path,
svg,
button,
label,
select,
input,
img,
li {
  cursor: url('./Cursor/Cursor_2.svg'), pointer !important;
}

input[type="text"],
textarea {
  cursor: url('./Cursor/Cursor_3.svg'), text !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

input::placeholder {
  color: #8b3dff;
}

textarea::placeholder {
  color: #8b3dff;
}